@{
    ViewData["Title"] = "Confirm Email";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<!-- Sign up form -->
<section class="signup">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Confirm Email</h2>
                <p>
                    Your email has been confirmed. You can now <a asp-action="Login">login</a>.
                </p>
            </div>
            <div class="signup-image">
                <figure><img src="~/images/signup-image.jpg" alt="sign up image"></figure>
            </div>
        </div>
    </div>
</section>
