<div class="bb-btn-desc">
    <span class="bb-btn-title">
        <a class="dropdown-item" asp-area="" asp-controller="Cart" asp-action="Index">
        <b class="bb-cart-count">@ViewBag.CartItemCount</b> items
        </a>
    </span>
</div>
