   @model TT_ECommerce.Models.EF.TbSubscribe
@if (ViewBag.Message != null)
{
    <div class="alert alert-info">
        @ViewBag.Message
    </div>
}
<!-- Newsletter Modal -->
   <div class="bb-popnews-bg"></div>
   <div class="bb-popnews-box"> 
   <div class="bb-popnews-close" title="Close"></div>
   <div class="row"> 
   <div class="col-md-6 col-12"> 
       <img src="assets/img/newsletter/newsletter.jpg" alt="newsletter">
    </div> 
    <div class="col-md-6 col-12"> 
       <div class="bb-popnews-box-content">
                    <h2>Newsletter.</h2>
                Hiển thị thông báo thành công hoặc thất bại 
    @if (TempData["SuccessMessage"] != null) 
         { 
           <div class="alert alert-success"> 
     @TempData["SuccessMessage"]</div> 
             } 
             else if (TempData["ErrorMessage"] != null) 
              { 
         <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                    } 
                    <p>Đăng ký để nhận những thông tin được cập nhật mới nhất.</p>
                    <form method="post" asp-action="Subscribe" class="bb-popnews-form">
                        <input type="text" name="Name" placeholder="Nhập vào tên của bạn" required>
                        <input type="email" name="Email" placeholder="Nhập vào email của bạn" required>
                        <button type="submit" class="bb-btn-2" name="subscribe">Subscribe</button>
                    </form>
                </div>
              </div>
          </div>
        </div> 
