    <!-- Banner-one -->
<section class="section-banner-one padding-tb-50">
    <div class="container">
        <div class="row mb-minus-24">
            <div class="col-lg-6 col-12 mb-24" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                <div class="banner-box bg-box-color-one">
                    <div class="inner-banner-box">
                        <div class="side-image">
                            <img src="~/user/assets/img/banner-one/banner1.png" alt="one">
                        </div>
                        <div class="inner-contact">

                            <h5>Powerful & Components</h5>
                            <p>Boost performance with advanced tech!</p>


                            <p>The flavour of something special</p>
                            <a href="@Url.Action("Index", "Shop")" class="bb-btn-1">Shop Now</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 mb-24" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                <div class="banner-box bg-box-color-two">
                    <div class="inner-banner-box">
                        <div class="side-image">
                            <img src="~/user/assets/img/banner-one/banner3.png" alt="two">
                        </div>
                        <div class="inner-contact">

                            <h5>Quality PCs & Components</h5>
                            <p>Enhance your setup for top performance!</p>

                            <a href="@Url.Action("Index", "Shop")" class="bb-btn-1">Shop Now</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>