    <!-- Cart sidebar -->
<div class="bb-side-cart-overlay"></div>
<div class="bb-side-cart">
    <div class="row h-full">
        <div class="col-md-5 col-12 d-none-767">
            <div class="bb-top-contact">
                <div class="bb-cart-title">
                    <h4>Related Items</h4>
                </div>
            </div>
            <div class="bb-cart-box mb-minus-24 cart-related bb-border-right">
                <div class="bb-deal-card mb-24">
                    <div class="bb-pro-box">
                        <div class="bb-pro-img">
                            <span class="flags">
                                <span>Hot</span>
                            </span>
                            <a href="javascript:void(0)">
                                <div class="inner-img">
                                    <img class="main-img" src="~/user/assets/img/product/2.jpg" alt="product-2">
                                    <img class="hover-img" src="~/user/assets/img/product/back-2.jpg" alt="product-2">
                                </div>
                            </a>
                            <ul class="bb-pro-actions">
                                <li class="bb-btn-group">
                                    <a href="javascript:void(0)" title="Wishlist">
                                        <i class="ri-heart-line"></i>
                                    </a>
                                </li>
                                <li class="bb-btn-group">
                                    <a href="javascript:void(0)" data-link-action="quickview" title="Quick View"
                                       data-bs-toggle="modal" data-bs-target="#bry_quickview_modal">
                                        <i class="ri-eye-line"></i>
                                    </a>
                                </li>
                                <li class="bb-btn-group">
                                    <a href="compare.html" title="Compare">
                                        <i class="ri-repeat-line"></i>
                                    </a>
                                </li>
                                <li class="bb-btn-group">
                                    <a href="javascript:void(0)" title="Add To Cart">
                                        <i class="ri-shopping-bag-4-line"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="bb-pro-contact">
                            <div class="bb-pro-subtitle">
                                <a href="shop-left-sidebar-col-3.html">Juice</a>
                                <span class="bb-pro-rating">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-line"></i>
                                </span>
                            </div>
                            <h4 class="bb-pro-title">
                                <a href="product-left-sidebar.html">
                                    Organic Apple Juice
                                    Pack
                                </a>
                            </h4>
                            <div class="bb-price">
                                <div class="inner-price">
                                    <span class="new-price">$15</span>
                                    <span class="item-left">3 Left</span>
                                </div>
                                <span class="last-items">100 ml</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bb-cart-banner mb-24">
                    <div class="banner">
                        <img src="assets/img/category/cart-banner.jpg" alt="cart-banner">
                        <div class="detail">
                            <h4>Organic & Fresh</h4>
                            <h3>Vegetables</h3>
                            <a href="shop-left-sidebar-col-3.html">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-12">
            <div class="bb-inner-cart">
                <div class="bb-top-contact">
                    <div class="bb-cart-title">
                        <h4>My cart</h4>
                        <a href="javascript:void(0)" class="bb-cart-close" title="Close Cart"></a>
                    </div>
                </div>
                <div class="bb-cart-box item">
                    <ul class="bb-cart-items">
                        <li class="cart-sidebar-list">
                            <a href="javascript:void(0)" class="cart-remove-item"><i class="ri-close-line"></i></a>
                            <a href="javascript:void(0)" class="bb-cart-pro-img">
                                <img src="assets/img/new-product/1.jpg" alt="product-img-1">
                            </a>
                            <div class="bb-cart-contact">
                                <a href="product-left-sidebar.html" class="bb-cart-sub-title">
                                    Ground Nuts Oil
                                    Pack
                                </a>
                                <span class="cart-price">
                                    <span class="new-price">$15</span>
                                    x 500 g
                                </span>
                                <div class="qty-plus-minus">
                                    <input class="qty-input" type="text" name="bb-qtybtn" value="1">
                                </div>
                            </div>
                        </li>
                        <li class="cart-sidebar-list">
                            <a href="javascript:void(0)" class="cart-remove-item"><i class="ri-close-line"></i></a>
                            <a href="javascript:void(0)" class="bb-cart-pro-img">
                                <img src="assets/img/new-product/2.jpg" alt="product-img-2">
                            </a>
                            <div class="bb-cart-contact">
                                <a href="product-left-sidebar.html" class="bb-cart-sub-title">
                                    Organic Litchi Juice
                                    Pack
                                </a>
                                <span class="cart-price">
                                    <span class="new-price">$25</span>
                                    x 500 ml
                                </span>
                                <div class="qty-plus-minus">
                                    <input class="qty-input" type="text" name="bb-qtybtn" value="1">
                                </div>
                            </div>
                        </li>
                        <li class="cart-sidebar-list">
                            <a href="javascript:void(0)" class="cart-remove-item"><i class="ri-close-line"></i></a>
                            <a href="javascript:void(0)" class="bb-cart-pro-img">
                                <img src="assets/img/new-product/3.jpg" alt="product-img-3">
                            </a>
                            <div class="bb-cart-contact">
                                <a href="product-left-sidebar.html" class="bb-cart-sub-title">
                                    Crunchy Banana
                                    Chips
                                </a>
                                <span class="cart-price">
                                    <span class="new-price">$1</span>
                                    x 500 g
                                </span>
                                <div class="qty-plus-minus">
                                    <input class="qty-input" type="text" name="bb-qtybtn" value="1">
                                </div>
                            </div>
                        </li>
                        <li class="cart-sidebar-list">
                            <a href="javascript:void(0)" class="cart-remove-item"><i class="ri-close-line"></i></a>
                            <a href="javascript:void(0)" class="bb-cart-pro-img">
                                <img src="assets/img/new-product/6.jpg" alt="product-img-3">
                            </a>
                            <div class="bb-cart-contact">
                                <a href="product-left-sidebar.html" class="bb-cart-sub-title">
                                    Small Cardamom Spice
                                    Pack
                                </a>
                                <span class="cart-price">
                                    <span class="new-price">$4</span>
                                    x 500 g
                                </span>
                                <div class="qty-plus-minus">
                                    <input class="qty-input" type="text" name="bb-qtybtn" value="1">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="bb-bottom-cart">
                    <div class="cart-sub-total">
                        <table class="table cart-table">
                            <tbody>
                                <tr>
                                    <td class="title">Sub-Total :</td>
                                    <td class="price">$300.00</td>
                                </tr>
                                <tr>
                                    <td class="title">VAT (20%) :</td>
                                    <td class="price">$60.00</td>
                                </tr>
                                <tr>
                                    <td class="title">Total :</td>
                                    <td class="price">$360.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="cart-btn">
                        <a asp-area="" asp-controller="Cart" asp-action="Index" class="bb-btn-1">View Cart</a>
                        <a href="checkout.html" class="bb-btn-2">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>