    <!-- Newsletter Modal -->
<div class="bb-popnews-bg"></div>
<div class="bb-popnews-box">
    <div class="bb-popnews-close" title="Close"></div>
    <div class="row">
        <div class="col-md-6 col-12">
            <img src="assets/img/newsletter/newsletter.jpg" alt="newsletter">
        </div>
        <div class="col-md-6 col-12">
            <div class="bb-popnews-box-content">
                <h2>Newsletter.</h2>
                <p>Subscribe the BlueBerry to get in touch and get the future update.</p>
                <form class="bb-popnews-form" action="#" method="post">
                    <input type="email" name="newsemail" placeholder="Email Address" required>
                    <button type="button" class="bb-btn-2" name="subscribe">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>