    <!-- Quick view Modal -->
<div class="modal fade quickview-modal" id="bry_quickview_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="qty-close" data-bs-dismiss="modal" aria-label="Close"
                    title="Close"></button>
            <div class="modal-body">
                <div class="row mb-minus-24">
                    <div class="col-md-5 col-sm-12 col-xs-12 mb-24">
                        <div class="single-pro-img single-pro-img-no-sidebar">
                            <div class="single-product-scroll">
                                <div class="single-slide zoom-image-hover">
                                    <img class="img-responsive" src="~/user/assets/img/product/1.jpg" alt="product-img-1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12 mb-24">
                        <div class="quickview-pro-content">
                            <h5 class="bb-quick-title">
                                <a href="product-left-sidebar.html">
                                    Mix nuts premium quality organic dried fruit
                                    250g pack
                                </a>
                            </h5>
                            <div class="bb-pro-rating">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                            </div>
                            <div class="bb-quickview-desc">
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                since the 1900s,
                            </div>
                            <div class="bb-quickview-price">
                                <span class="new-price">$50.00</span>
                                <span class="old-price">$62.00</span>
                            </div>
                            <div class="bb-pro-variation">
                                <ul>
                                    <li class="active">
                                        <a href="javascript:void(0)" class="bb-opt-sz" data-tooltip="Small">250g</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="bb-opt-sz"
                                           data-tooltip="Medium">500g</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="bb-opt-sz" data-tooltip="Large">1kg</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="bb-opt-sz"
                                           data-tooltip="Extra Large">2kg</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="bb-quickview-qty">
                                <div class="qty-plus-minus">
                                    <input class="qty-input" type="text" name="bb-qtybtn" value="1">
                                </div>
                                <div class="bb-quickview-cart">
                                    <button type="button" class="bb-btn-1">
                                        <i class="ri-shopping-bag-line"></i>Add To Cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>