    <!-- Hero -->
<section class="section-hero margin-b-50">
    <div class="bb-social-follow">
        <ul class="inner-links">
            <li>
                <a href="javascript:void(0)">Fb</a>
            </li>
            <li>
                <a href="javascript:void(0)">Li</a>
            </li>
            <li>
                <a href="javascript:void(0)">Dr</a>
            </li>
            <li>
                <a href="javascript:void(0)">In</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="hero-slider swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide slide-1">
                            <div class="row mb-minus-24">
                                <div class="col-lg-6 col-12 order-lg-1 order-2 mb-24">
                                    <div class="hero-contact">
                                        <p>GIẢM ĐẾN 70% </p>
                                        <h1>TRONG <span>CÁC DỊP</span><br> TẾT & NGÀY LỄ</h1>
                                        <a asp-area="" asp-controller="Shop" asp-action="Index" class="bb-btn-1">Shop now</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 order-lg-2 order-1 mb-24">
                                    <div class="hero-image">
                                        <img src="~/user/assets/img/hero/banner.png" alt="hero">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"
                                             class="animate-shape">
                                            <linearGradient id="shape_1" x1="100%" x2="0%" y1="100%" y2="0%">
                                            </linearGradient>
                                            <path d="">
                                                <animate repeatCount="indefinite" attributeName="d" dur="15s"
                                                         values="" />
                                            </path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-2">
                            <div class="row mb-minus-24">
                                <div class="col-lg-6 col-12 order-lg-1 order-2 mb-24">
                                    <div class="hero-contact">
                                        <p>GIẢM ĐẾN 30%</p>
                                        <h2>KHI <span>BUILD</span><br> PC GAMING</h2>
                                        <a asp-area="" asp-controller="Shop" asp-action="Index" class="bb-btn-1">Shop now</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 order-lg-2 order-1 mb-24">
                                    <div class="hero-image">
                                        <img src="~/user/assets/img/hero/banner2.png" alt="hero">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"
                                             class="animate-shape">
                                            <linearGradient id="shape_2" x1="80%" x2="0%" y1="80%" y2="0%">
                                            </linearGradient>
                                            <path d="">
                                                <animate repeatCount="indefinite" attributeName="d" dur="15s"
                                                         values="" />
                                            </path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-3">
                            <div class="row mb-minus-24">
                                <div class="col-lg-6 col-12 order-lg-1 order-2 mb-24">
                                    <div class="hero-contact">
                                        <p>KHI MUA PC</p>
                                        <h2>MIỄN <span>PHÍ</span><br> GIAO HÀNG TOÀN QUỐC</h2>
                                        <a asp-area="" asp-controller="Shop" asp-action="Index" class="bb-btn-1">Shop now</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 order-lg-2 order-1 mb-24">
                                    <div class="hero-image">
                                        <img src="~/user/assets/img/hero/banner3.png" alt="hero">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"
                                             class="animate-shape">
                                            <linearGradient id="shape_3" x1="80%" x2="0%" y1="80%" y2="0%">
                                            </linearGradient>
                                            <path d="">
                                                <animate repeatCount="indefinite" attributeName="d" dur="15s"
                                                         values="" />
                                            </path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination swiper-pagination-white"></div>
                    <div class="swiper-buttons">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bb-scroll-Page">
        <span class="scroll-bar">
            <a href="javascript:void(0)">Scroll Page</a>
        </span>
    </div>
</section>