    <!-- Tools Sidebar -->
<div class="bb-tools-sidebar-overlay"></div>
<div class="bb-tools-sidebar">
    <a href="javascript:void(0)" class="bb-tools-sidebar-toggle in-out">
        <i class="ri-settings-fill"></i>
    </a>
    <div class="bb-bar-title">
        <h6>Tools</h6>
        <a href="#" class="close-tools"><i class="ri-close-line"></i></a>
    </div>
    <div class="bb-tools-detail">
        <div class="bb-tools-block">
            <h3>Select Color</h3>
            <ul class="bb-color">
                <li class="color-primary active-variant"></li>
                <li class="color-1"></li>
                <li class="color-2"></li>
                <li class="color-3"></li>
                <li class="color-4"></li>
                <li class="color-5"></li>
                <li class="color-6"></li>
                <li class="color-7"></li>
                <li class="color-8"></li>
                <li class="color-9"></li>
            </ul>
        </div>
        <div class="bb-tools-block">
            <h3>Dark Modes</h3>
            <div class="bb-tools-dark">
                <div class="mode-primary bb-dark-item mode active-dark light" data-bb-mode-tool="light">
                    <img src="assets/img/tools/light.png" alt="light">
                    <p>Light</p>
                </div>
                <div class="bb-dark-item mode dark" data-bb-mode-tool="dark">
                    <img src="assets/img/tools/dark.png" alt="dark">
                    <p>Dark</p>
                </div>
            </div>
        </div>
        <div class="bb-tools-block">
            <h3>RTL Modes</h3>
            <div class="bb-tools-rtl">
                <div class="bb-tools-item ltr active-rtl" data-bb-mode-tool="ltr">
                    <img src="assets/img/tools/ltr.png" alt="ltr">
                    <p>LTR</p>
                </div>
                <div class="bb-tools-item rtl" data-bb-mode-tool="rtl">
                    <img src="assets/img/tools/rtl.png" alt="rtl">
                    <p>RTL</p>
                </div>
            </div>
        </div>
        <div class="bb-tools-block">
            <h3>Box Design</h3>
            <div class="bb-tools-box">
                <div class="bb-tools-item default active-box" data-bb-mode-tool="default">
                    <img src="assets/img/tools/box-0.png" alt="box-0">
                    <p>Default</p>
                </div>
                <div class="bb-tools-item box-1" data-bb-mode-tool="box-1">
                    <img src="assets/img/tools/box-1.png" alt="box-1">
                    <p>Box-1</p>
                </div>
            </div>
        </div>
    </div>
</div>